*{ 
	margin: 0px;
	padding: 0px;
}

div{
	display:inline-block;
}

#backdrop{
	height: 675px;
	width: 720px;
	background-color: #d5d2ae;
	margin: 50px auto;
	padding: 20px;
	display: block;
}

#header{
	padding: 0px auto;
	margin-bottom: 10px;
}

#head1, #head2, #head3{
	display:inline-block;
	
}

#head1 {
	height: 50px;
	padding: 20px 0px 0px 125px;
}

#head2 {
	padding: 40px 0px 0px 0px;
}

#head3 {
	background-color:  white;
}

#main{
	display: flex;
	flex-direction: column;
}

.row{
	flex: 1;
}

.blue {
	background-color:  #82b4ee;
	padding:15px 15px 12px 15px;
	border: 3px solid black;
	margin:5px;
}

.blue img {
	width: 100px;
	height: 100px;
}

.red {
	background-color: #f36870;
	padding:15px 15px 12px 15px;
	border: 3px solid black;
	margin:1px;
}

.red img {
	width: 100px;
	height: 100px;
}